h1, p {
  font-family: Lato;
}
.exampleComp {
  padding: 1rem;
  border: 3px solid saddlebrown;
  margin-bottom: 1rem;
}
big { color: red; }

.exampleComp::before {
  content: ">> 普通状态组件:exampleComp";
  color: grey;
  font-size: x-small;
}
.exampleHooks { border: 5px solid cornflowerblue;
 }
.exampleHooks::before {
  content: ">> Hooks组件:exampleComp";
  color: grey;
  font-size: x-small;
}

.ExampleHooks2::before {
  content:">> ExampleHooks2-使用useState赋值多状态"
}

.example3::before {
  content: ">> Example3——传统生命周期函数和使用useEffect的比较，可打印出不同的结果。";
  color: grey;
  font-size: x-small;
}

div h5 { padding: 0; margin: 0; }

.routePage {
  width: 50%;
  margin: 0 0 0 50%;
  padding:1rem;
  background-color: #dedede;
}