h1, p {
  font-family: Lato;
}
.exampleComp {
  padding: 1rem;
  border: 3px solid saddlebrown;
  margin-bottom: 1rem;
}
.exampleComp big { color: red; }

.exampleComp::before {
  content: ">> 普通状态组件:exampleComp";
  color: grey;
  font-size: x-small;
}
.exampleHooks { border: 3px solid cornflowerblue;
 }
.exampleHooks::before {
  content: ">> Hooks组件:exampleComp";
  color: grey;
  font-size: x-small;
}

.ExampleHooks2::before {
  content:">> ExampleHooks2-使用useState赋值多状态"
}

.example3::before {
  content: ">> Example3——传统生命周期函数和使用useEffect";
  color: grey;
  font-size: x-small;
}

div h5 { padding: 0; margin: 0; }